PORT=5000

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
JWT_SECRET=your_jwt_secret

DHL_API_BASE_URL=https://express.api.dhl.com/mydhlapi/test
DHL_API_KEY=your_dhl_api_key
DHL_API_SECRET=your_dhl_api_secret
DHL_ACCOUNT_NUMBER=your_dhl_account_number
DHL_PRODUCT_CODE=P
DHL_DECLARED_VALUE_CURRENCY=INR

DHL_SHIPPER_NAME=Cadmax
DHL_SHIPPER_COMPANY=Cadmax
DHL_SHIPPER_PHONE=9999999999
DHL_SHIPPER_CITY=Jaipur
DHL_SHIPPER_POSTAL_CODE=302001
DHL_SHIPPER_ADDRESS_LINE1=Jaipur Rajasthan India
DHL_SHIPPER_COUNTRY_CODE=IN

DEFAULT_SHIPPING_PROVIDER=DHL

BLUE_DART_API_BASE_URL=https://apigateway-sandbox.bluedart.com/in/transportation
BLUE_DART_JWT_TOKEN=your_bluedart_jwt_token
BLUE_DART_LOGIN_ID=your_bluedart_login_id
BLUE_DART_LICENCE_KEY=your_bluedart_licence_key
BLUE_DART_CUSTOMER_CODE=your_bluedart_customer_code
BLUE_DART_ORIGIN_AREA=your_origin_area_code
BLUE_DART_SENDER=your_sender_code
BLUE_DART_VENDOR_CODE=
BLUE_DART_PACK_TYPE=L
BLUE_DART_PRODUCT_CODE=A
BLUE_DART_SUB_PRODUCT_CODE=P
BLUE_DART_PRODUCT_TYPE=1
BLUE_DART_PICKUP_TIME=1600
BLUE_DART_DEFAULT_PIECE_WEIGHT_KG=0.5

BLUE_DART_RETURN_ADDRESS1=
BLUE_DART_RETURN_ADDRESS2=
BLUE_DART_RETURN_ADDRESS3=
BLUE_DART_RETURN_PINCODE=
BLUE_DART_RETURN_CONTACT=
BLUE_DART_RETURN_MOBILE=
BLUE_DART_RETURN_EMAIL=

BLUE_DART_SHIPPER_NAME=
BLUE_DART_SHIPPER_MOBILE=
BLUE_DART_SHIPPER_ADDRESS1=
BLUE_DART_SHIPPER_ADDRESS2=
BLUE_DART_SHIPPER_ADDRESS3=
BLUE_DART_SHIPPER_PINCODE=
