PORT=5000

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
JWT_SECRET=your_jwt_secret

DHL_API_BASE_URL=https://express.api.dhl.com/mydhlapi/test
DHL_API_KEY=your_dhl_api_key
DHL_API_SECRET=your_dhl_api_secret
DHL_ACCOUNT_NUMBER=your_dhl_account_number
DHL_PRODUCT_CODE=P
DHL_DECLARED_VALUE_CURRENCY=INR

DHL_SHIPPER_NAME=Cadmax
DHL_SHIPPER_COMPANY=Cadmax
DHL_SHIPPER_PHONE=9999999999
DHL_SHIPPER_CITY=Jaipur
DHL_SHIPPER_POSTAL_CODE=302001
DHL_SHIPPER_ADDRESS_LINE1=Jaipur Rajasthan India
DHL_SHIPPER_COUNTRY_CODE=IN
